<%= render 'shared/error', obj: @user, text: "please fix the following errors: " %>

<div class="row well">
  <div class="control-group">
    <%= form_for @user do |f| %>
      <%= f.label :username %>
      <%= f.text_field :username %>
      <br/>
      <%= f.label :password %>
      <%= f.password_field :password %>
      <br/>
      <%= f.label :time_zone %>
      <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, default: Time.zone.name %>
      <br/>
      <%= f.submit(@user.new_record? ?  title : title, class: "btn btn-primary") %>
  <% end %>
  </div>
</div>
