<div class='row well'>
  <%= form_for @post do |f| %>
    <div class="control-group">
      <%= f.label :title %>
      <%= f.text_field :title %>
      <br/>
      <%= f.label :url %>
      <%= f.text_field :url %>
      <br/>
      <%= f.label :description %>
      <%= f.text_area :description, rows: 5 %>
      <br/>

      <%= collection_select(@post.categories, :category_id, Category.all, :id, :name) %>

      <br/>
      <%= f.submit(@post.new_record? ? "Create Post": "Update Post" , class: "btn btn-primary") %>
    </div>
  <% end %>
</div>
