<div class='row'>
    <div class='well'>
      <%= render post.categories %>
      <h4><%= link_to post.title, fix_url(post.url) %></h4>
      <p><%= post.description %></p>
      <p>
        <span class='quiet'>posted_by: </span>
          <%= post.creator.username %>, <small>at: <%= fix_time(post.created_at)%></small>
      </p>
      <span>
        <%= link_to "#{post.comments.size} comments", post_path(post) %>
      </span><br/>
        <%= link_to 'Edit Post', edit_post_path(post), class: 'btn btn-default' %>
    </div>
  </div>
