<div class='row'>
  <!-- votes side bar -->
  <div class="span0 well text-center">
    <% if logged_in? %>
    <%= link_to vote_post_path(post, :vote => true), method: 'post', remote: true do %>
      <i class="icon icon-thumbs-up"></i>
    <% end %>
    <br/>
    <% end %>
    <span id="post_total_votes_<%= post.id %>">
      <%= post.total_votes %> likes
    </span>
    <br/>
    <% if logged_in? %>
    <%= link_to vote_post_path(post, :vote => false), method: 'post', remote: true do %>
      <i class='icon icon-thumbs-down'></i>
    <% end %>
    <% end %>
  </div>
  <!-- votes side bar end -->

  <div class='span8 well'>
    <%= render post.categories %>

    <h4>
      <%= link_to post.title, fix_url(post.url) %>
    </h4>
    <p>
      <%= post.description %>
    </p>
    <p>
      <span class="quiet">posted by:
      <%= link_to post.creator.username, user_path(post.creator) %>
      </span>
      <small><%= fix_time(post.created_at) %></small>
    </p>

    <small>
      <span>
        <%= link_to "comments (#{post.comments.count})", post_path(post)  %>
      </span>
      </small><br/>
      <% if logged_in? %>
      <%= link_to 'Edit Post', edit_post_path(post), class: 'btn btn-default btn-small' %>
      <% end %>
  </div>
</div>
