<%= render 'shared/content_title', title: "New Category" %>

<%= render 'shared/error', obj: @category, text: "please fix the following errors: " %>

<div class="well">
  <%= form_for @category do |f| %>
  <div class="control-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br/>
    <%= f.submit "Create Category" %>
    </div>
  <% end %>
</div>
