<ul class="nav">
  <li>
    <%= link_to "Postit!", root_path, :class => 'brand' %>
  </li>
  <li>
    <%= link_to 'link', '' %>
  </li>
</ul>

<div class='btn-group nav_item'>
  <%= link_to "", class: "btn btn-small dropdown-toggle", 'data-toggle' => 'dropdown' do %>
    Categories <span class="caret"></span>
  <% end %>
  <ul class='dropdown-menu'>
    <% Category.all.each do |category| %>
      <li>
        <%= link_to category.slug, category_path(category) %>
      </li>
    <% end %>
    <li class='divider'></li>
    <li><%= link_to(new_category_path) do %>
      <i class="icon-plus"></i>
      New Category
    <% end %>
    </li>
  </ul>
</div>

<% if logged_in? %>
  <div class="nav_item">
    <%= link_to 'New Post', new_post_path, class: 'btn btn-success btn-small' %>
  </div>

  <!-- User drop down menu start -->
  <div class="btn-group nav_item">

    <%= link_to "", class: "btn btn-small dropdown-toggle", "data-toggle" => "dropdown" do %>
      <%= current_user.username %>'s menu <span class="caret"></span>
    <% end %>

    <ul class="dropdown-menu">
      <!-- NOTE: used a do block so I could get the icon-pencil in -->
      <li>
        <%= link_to edit_user_path(current_user) do %>
          <i class="icon-pencil"></i>
          Edit Profile
        <% end %>
      </li>
      <li>
        <%= link_to user_path(current_user) do %>
          <i class="icon-user"></i>
          View Profile
        <% end %>
      </li>
      <li>
        <%= link_to logout_path, { :style => "background-color: orange" } do %>
          <i class="icon-circle-arrow-left"></i>
          Log Out
        <% end %>
      </li>
    </ul>

  </div>
  <!-- User drop down menu end! -->

  <div class="nav_item">Welcome <%= current_user.username %></div>

<% else %>
  <%= link_to 'Register', register_path, class: 'btn btn-success btn-small' %>
  <%= link_to 'Login', login_path, class: 'btn btn-success btn-small' %>
<% end %>

